<main data-ng-controller="session_controller as vm">
<p id="notice"><%= notice %></p>

<h2>Sign In SHOW</h2>
<%= form_for @user, url: session_path, method: :post do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Submit" %>
  <%= link_to "Sign Up", new_user_path%>
<% end %>
</main>
